
.home-initial-carousel{ margin:0; padding:0}
.home-initial-carousel .item{ height:680px; background-repeat:no-repeat;background-position:center top;}
.home-initial-carousel .item .carousel-caption{ z-index:10;bottom:auto; top:350px;text-align:center;}
.home-initial-carousel .item .carousel-caption h2 { margin:0;line-height:36px;font-size:26px;color:#00ca13;}
.home-initial-carousel .item .carousel-caption h3 { margin:0;line-height:56px;font-size:44px;color:#1e1d1d;}
.home-initial-carousel .item .carousel-caption h3 img { max-width:100%;} 
.home-initial-carousel .item .carousel-caption .more { padding-top:50px; text-align:center;}
.home-initial-carousel .item .carousel-caption .more a { display:inline-block; padding:15px 100px;font-size:16px; color:#FFF; background:#00ca13;}
.home-initial-carousel .item .carousel-caption .more a:focus,
.home-initial-carousel .item .carousel-caption .more a:hover { text-decoration:none;color:#FFF; background:#29912f;}

.carousel-control.left, .carousel-control.right{ z-index:20;background-image:none;color:#FFF!important;text-shadow:none;}
.carousel-control span{ position:absolute;top:50%; left:50%;z-index:5;display:inline-block;margin:-120px 0 0 -20px;width:40px; height:75px; background:url(../images/sprite-arrow.png) no-repeat;} 
.carousel-control span.fa-right { background-position: right 0;}
.carousel-indicators { padding:0;margin:0;}
.carousel-indicators li { float:left; display:block;width:24.5%;margin:0;padding:50px 0 30px; height: auto;line-height:37px; font-size:16px; color:#6c6c6c;border:none;border-top:6px solid #FFF;border-radius:0; cursor:pointer; text-indent:0;}
.carousel-indicators li.active { width:24.5%;margin:0;padding:50px 0 30px;border:none;border-top:6px solid #00ca13; color:#00ca13;}
.carousel-indicators li a, .carousel-indicators li a:hover { display:block;width:100%;text-decoration:none;}
.carousel-indicators li p { width:100%; height:136px;border-right:1px solid #e9e9e9; text-align:center;}
.carousel-indicators li:last-child p { border:none; }
.carousel-indicators li p b { display:block;margin:0 auto;width:136px; height:136px;line-height:100%;background-color:#d2d2d2;-moz-border-radius:100%;-webkit-border-radius:100%;border-radius:100%;}
.carousel-indicators li p b span { position:relative;top:37px;font-size:64px;color:#FFF;}
.carousel-indicators li a:hover p b { background-color:#00ca13;}

.slide.services { background: url(../images/map_bg.jpg) no-repeat center bottom #e9e9e9; padding:60px 0 30px;}
.slide.services .header h2 { font-size:40px; font-weight:normal;margin:0;padding:0; color:#00ca13;}
.slide.services .header h3 { font-size:18px; color:#6c6c6c; margin:10px 0; padding:0;}
.slide.services .header .map img { margin:0 auto;}
 
.latest { background-color:#f9f9f9;}
.latest .title { margin-bottom:30px;padding-bottom:30px;line-height:30px;font-size:24px;color:#4e4e4e;border-bottom:2px solid #e4e4e4;}
.latest .title .more { float:right; font-size:14px;}
.latest .title .more em { font-family:"宋体"; font-style:normal;}
.latest .address { line-height:1.8;}
.latest .address .img-responsive { margin-bottom:20px;}
.latest .news_photo { padding-bottom:20px;}
.latest .news_photo .name { margin-top:0; font-size:16px;color:#515151;}
.latest .news_photo .name a { color:#515151;}
.latest .news_photo .name a:focus, .latest .news_photo .name a:hover, .latest .news_photo .more a { color:#00ca13;}
.latest .news_photo .more { text-align:right;}
.latest .news_photo .intro { margin-bottom:10px;height:3em; line-height:1.5em; overflow:hidden;}
.latest .news_list { margin-top:10px;padding-top:16px;border-top:1px dotted #9f9f9f;}
.latest .news_list li { list-style:none;margin:5px 0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.latest .news_list li a { color:#5c5c5c;}
.latest .news_list li a:focus, .latest .news_list li a:hover  { color:#00ca13;}
.latest .news_list li .date { float:right; padding-left:15px; color:#9f9f9f;}

/* Tablet */
@media (max-width: 1024px) {	 
	.home-initial-carousel .item { height:600px;}		 
	
	.home-initial-carousel .item.slide1 > img, .home-initial-carousel .item.slide2 > img, .home-initial-carousel .item.slide3 > img {float:none;margin:0 auto; padding-top:90px}
	.home-initial-carousel .item .carousel-caption { width:90%; margin:0 auto;top:auto;bottom:70px;text-align:center;}
	.home-initial-carousel .item .carousel-caption h2 { font-size:22px;line-height:30px;}
	.home-initial-carousel .item .carousel-caption h3 { font-size:40px;line-height:50px;}
	
}

@media (max-width:767px) {
	.latest { padding:0 0 10px;}
	.latest .title { padding:30px 0 20px;}
	.latest .news_photo { padding-bottom:0;}
	.latest .news_photo .name { margin-top:20px;} 
}
	

/* Phone */
@media (max-width: 640px) {
	.navbar-default{padding-top: 0;padding-bottom: 0;}
	.home-initial-carousel .item { height:420px; background-size:1152px 420px; background-position:60% top;}	
	.home-initial-carousel .item .carousel-caption{ bottom:40px}	
	.home-initial-carousel .item .carousel-caption h2 { font-size:20px;line-height:26px;}
	.home-initial-carousel .item .carousel-caption h3 { font-size:32px;line-height:40px;}
	.home-initial-carousel .item .carousel-caption .more { padding-top:40px;}
	.home-initial-carousel .item .carousel-caption .more a { padding:8px 40px;}
	.carousel-control { display:none;}
	.carousel-indicators li, .carousel-indicators li.active { width:25%;padding:25px 0 15px;border-top-width:4px;line-height:24px;font-size:14px;}
	.carousel-indicators li p { height:60px; }
	.carousel-indicators li p b { width:60px; height:60px;}
	.carousel-indicators li p b span { top:14px;font-size:32px;} 

	.slide.services { padding:40px 0 0;} 
	.slide.services .header h2 { font-size:30px}
	.slide.services .header h3 { font-size:16px}  
}
@media (max-width: 360px) { 
	.home-initial-carousel .item { height:300px;background-size:823px 300px;background-position:60% top;}
	.home-initial-carousel .item .carousel-caption{ top:auto;bottom:10px;}
	.home-initial-carousel .item .carousel-caption h2 { font-size:16px;line-height:24px;}
	.home-initial-carousel .item .carousel-caption h3 { font-size:28px;line-height:36px;}
	.home-initial-carousel .item .carousel-caption .more { padding-top:25px;}
	.home-initial-carousel .item .carousel-caption .more a { padding:5px 20px;font-size:14px; color:#FFF;}
	
	.carousel-indicators li, .carousel-indicators li.active { width:23.5%;padding:15px 0 10px;border-top-width:3px; font-size:12px;}
	.carousel-indicators li p { height:44px; margin-bottom:3px;}
	.carousel-indicators li p b { width:44px; height:44px;}
	.carousel-indicators li p b span { top:10px;font-size:24px;} 
	
	.slide.services { padding:30px 0 0;} 
	.slide.services .header h2 { font-size:24px}
	.slide.services .header h3 { font-size:14px}
}


@media (min-width: 800px) and (max-width: 1024px) {
	.slide.services .thumbnail { height:290px !important}
}


/* Tablet */
@media (min-width: 690px) and (max-width: 790px) {	 
	.home-initial-carousel .item{ height:600px; }
	.home-initial-carousel .item .carousel-caption h3 { font-size:35px; line-height: 42px}
	.home-initial-carousel .item.slide3 .carousel-caption{ bottom:59px}	
 
	.carousel-indicators li, .carousel-indicators li.active { padding:40px 0 20px;border-top-width:4px;}
	.carousel-indicators li p { height:96px; }
	.carousel-indicators li p b { width:96px; height:96px;}
	.carousel-indicators li p b span { top:23px;font-size:50px;} 
	
	.slide.services .thumbnail { min-height:298px !important}
	
	.portfolio-carousel,
	.portfolio-carousel > .carousel-inner,
	.portfolio-carousel .item{ height:520px !important}
	.portfolio-carousel .item .caption h4 { font-size:42px}
	.portfolio-carousel .carousel-control .icon-prev, .portfolio-carousel .carousel-control .icon-next{ top:45%}
	
	
}
